<div class="explore_container">
    <div class="explore_bg_img" style="background-image: url('../images/explore_bg/{{loc_filename}}.jpg');"></div>

    <div class="explore_text_container">
      <div class="explore_map_title">
        {{loc_title}}
      </div>
      <div class="explore_possible_loot">
          Possible Loot: {{loc_loot}}
      </div>
    </div>

    <div class="explore_bottom">

      <div class="explore_info_container">
        <p class="exploredesc">{{loc_desc}}</p>
        <div class="exploreopt buttonopt">
          <p id="loc_title" hidden>{{~loc_title~}}</p>
          <p id="loc_loot" hidden>{{~loc_loot~}}</p>
          <input id="soloexplore" type="button" class="explorebutton" value="SOLO">
          <input name="teamexplore" id="teamexplore" type="submit" class="explorebutton" value="CO-OP (Forum)">
        </div>
      </div>
    <hr>
      <div class="explorefooter slidecontainer">
        <input type="range" min="1" max="100" value="1" class="slider" id="multiplier">
        <p class="outcome" id="multiplierlabel">15m ⇌ x1.0 exp/loot multiplier</p>
      </div>
    </div>
  </div>
