<div class="reply">
  <div class="replyheader">
    <img class="replyusericon" src="/images/avatar/{{profpic}}.png" alt="{{username}} Icon">
    <div class="replyheadercontent">
      {{username}} <span style="font-weight:normal">• Replied {{repliedAt}}</span>
    </div>
    <!--<a class="edit">edit</a>-->
  </div>

  <p class="replybody">
    {{~linebreaks comment}}<br>
  </p>

  <!--
  <div class="replyfooter">
    <input type="image" id="dislike" class="forumreax" src="/images/dislike.png">
    <p id="likecnt" class="forumreaxcnt">{{rating}}</p>
    <input type="image" id="like" class="forumreax" src="/images/like.png">
    <p id="commentID" style="visibility: hidden">{{~commentID}}</p>
  </div>
  -->
</div>
