<div class="card">
  <button class="bottombutton" id="trade1" style="height:30px">{{item}}</button>
  <form method="post" id="formID">
    <input style="display:none" id="uName" value="{{item}}">
    <input style="display:none" id="offerN" value="{{offerName}}">
    <input style="display:none" id="offerT" value="{{offerType}}">
    <input style="display:none" id="offerI" value="{{offerIndex}}">
    <input style="display:none" id="userOffer" value="{{username}}">
  </form>
</div>
